@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  font-family: "Roboto", "Noto Sans JP", system-ui;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a {
  transition: opacity 0.3s;
}
a:hover {
  opacity: 0.7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: transparent;
}

.header__inner {
  display: flex;
  align-items: center;
  padding-left: 22px;
  height: inherit;
}
@media screen and (max-width: 768px) {
  .header__inner {
    padding-left: 15px;
  }
}

.header__name {
  margin-right: auto;
}

.header__logo {
  width: 171px;
}
@media screen and (max-width: 1024px) {
  .header__logo {
    width: 132px;
  }
}

.header__nav {
  height: inherit;
}

.header__items {
  display: flex;
  align-items: center;
  height: inherit;
}

.header__item {
  height: inherit;
}

.header__item:not(:first-child) {
  margin-left: 70px;
}

.header__link {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  color: #141414;
}

.header__link.header__link--contact {
  background-color: #f14e53;
  color: #fff;
  padding: 0 24px;
  transition: background-color 0.3s;
}
.header__link.header__link--contact:hover {
  opacity: 1;
  background-color: #c85054;
}

.hamburger {
  position: fixed;
  z-index: 9999;
  top: 29px;
  right: 15px;
  width: 25px;
  height: 16px;
  cursor: pointer;
}

.hamburger.is-active {
  top: 32px;
  right: 20px;
}

.hamburger span {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #141414;
  transition: 0.3s transform, 0.3s background-color;
}

.hamburger.is-active span {
  background-color: #fff;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 8px;
  transition: opacity 0.3s;
}

.hamburger span:nth-child(3) {
  top: 16px;
}

.hamburger.is-active span:nth-child(1) {
  top: 15px;
  transform: rotate(-45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  top: 15px;
  transform: rotate(45deg);
}

.drawer-menu {
  display: none;
  position: absolute;
  z-index: 5000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #202f43;
}

.drawer-menu__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: 53%;
  margin-inline: auto;
}

.drawer-menu__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.drawer-menu__item {
  width: 100%;
  text-align: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #868686;
}

.drawer-menu__item:not(:first-child) {
  margin-top: 25px;
}

.drawer-menu__item:last-child {
  border-bottom: none;
}

.drawer-menu__link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  display: block;
}

.drawer-menu__link.drawer-menu__link--contact {
  background-color: #f14e53;
  padding: 15px 0 16px;
  transition: background-color 0, 3s;
}
.drawer-menu__link.drawer-menu__link--contact:hover {
  opacity: 1;
  background-color: #c85054;
}

.mv {
  width: 100%;
  height: 100vh;
}

.mv__inner {
  position: relative;
  width: 100%;
  height: inherit;
}

.mv__slider,
.swiper-slide picture,
.swiper-slide img {
  height: inherit;
}

.swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
}

.mv__title-wrap {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.mv__logo {
  width: 244px;
  margin-inline: auto;
}
@media screen and (max-width: 1024px) {
  .mv__logo {
    width: 205px;
  }
}

.mv__title {
  font-size: 42px;
  margin-top: 20px;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .mv__title {
    font-size: 30px;
    line-height: 1.1;
    letter-spacing: 0.05em;
  }
}

.mv__title-large,
.mv__title-strong {
  font-size: 60px;
}
@media screen and (max-width: 1024px) {
  .mv__title-large,
.mv__title-strong {
    font-size: 38px;
  }
}

.mv__title-large {
  color: #f14e53;
}

.mv__title-strong {
  color: #20aaa5;
}

.about {
  padding: 100px 0;
}

.about__inner {
  display: flex;
  align-items: flex-start;
}

.about__sub-title {
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .about__sub-title {
    margin-top: 26px;
  }
}

.about__text {
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .about__text {
    margin-top: 26px;
  }
}

.about__img {
  aspect-ratio: 46/32;
  width: 44.67%;
  margin-left: 30px;
}

.service {
  padding: 100px 0;
  background-color: #f7f7f7;
}

.service__container {
  margin-top: 50px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: repeat(2, 400px);
}
@media screen and (max-width: 1024px) {
  .service__container {
    grid-template-columns: repeat(2, 360px);
    grid-template-rows: repeat(2, 360px);
  }
}
@media screen and (max-width: 768px) {
  .service__container {
    margin-top: 40px;
    grid-template-columns: repeat(1, 345px);
    grid-template-rows: repeat(4, 345px);
  }
}

.service__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f14e53;
}

.service__item:nth-child(2),
.service__item:nth-child(3) {
  outline: 2px solid #fff;
  outline-offset: -7px;
}

@media screen and (max-width: 768px) {
  .service__item:nth-child(2) {
    grid-row: 1/2;
  }
}

.service__item:nth-child(3) {
  background-color: #20aaa5;
}

.service__sub-title {
  text-align: center;
}

.service__text {
  margin-top: 25px;
  width: 220px;
}
@media screen and (max-width: 1024px) {
  .service__text {
    margin-top: 30px;
    width: 293px;
  }
}

.news {
  padding: 100px 0 160px;
}
@media screen and (max-width: 768px) {
  .news {
    padding-bottom: 100px;
  }
}

.news__cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  -moz-column-gap: 35px;
       column-gap: 35px;
  row-gap: 30px;
}
@media screen and (max-width: 768px) {
  .news__cards {
    margin-top: 40px;
  }
}

.card {
  box-shadow: 2px 2px 4px rgba(134, 134, 134, 0.16);
}

.card-img {
  aspect-ratio: 8/5;
}

.card-body {
  padding: 16px 16px;
}

.card__date {
  font-family: "Noto sans JP", serif;
  font-size: 12px;
  letter-spacing: 0.05em;
  font-weight: 500;
  color: #868686;
}

.card__text {
  font-family: "Noto sans JP", serif;
  font-size: 14px;
  line-height: 1.857;
  font-weight: 500;
  margin-top: 12px;
}

.faq {
  padding-top: 100px;
  background-color: #f7f7f7;
}

.faq__title {
  text-transform: uppercase;
}

.faq__accordion {
  width: 100%;
  max-width: 800px;
  margin-top: 50px;
  margin-inline: auto;
}
@media screen and (max-width: 768px) {
  .faq__accordion {
    margin-top: 40px;
  }
}

.accordion__item:not(:first-child) {
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .accordion__item:not(:first-child) {
    margin-top: 8px;
  }
}

.accordion__title {
  position: relative;
  padding: 21px 50px 21px 20px;
  cursor: pointer;
  background-color: #155b98;
}
@media screen and (max-width: 768px) {
  .accordion__title {
    padding: 20px 35px 20px 10px;
  }
}

.accordion__title::before,
.accordion__title::after {
  position: absolute;
  top: 50%;
  right: 22px;
  width: 18px;
  height: 2px;
  content: "";
  background-color: #fff;
  transition: 0.3s transform, 0.3s opacity;
}
@media screen and (max-width: 768px) {
  .accordion__title::before,
.accordion__title::after {
    right: 12px;
    width: 16px;
  }
}

.accordion__title::before {
  transform: rotate(90deg);
}

.accordion__title.is-open::before {
  transform: rotate(180deg);
}

.accordion__title.is-open::after {
  opacity: 0;
}

.accordion__title-text {
  font-size: 15px;
  letter-spacing: 0.05em;
  color: #fff;
  padding-left: 1em;
  text-indent: -1em;
}
@media screen and (max-width: 768px) {
  .accordion__title-text {
    font-size: 14px;
    line-height: 1.857;
  }
}

.accordion__content {
  display: none;
  padding: 21px 20px;
}
@media screen and (max-width: 768px) {
  .accordion__content {
    padding: 16px 10px 24px;
  }
}

.accordion__text {
  font-size: 15px;
  line-height: 1.867;
  padding-left: 1em;
  text-indent: -1em;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
  .accordion__text {
    font-size: 14px;
    line-height: 1.857;
  }
}

.faq__img img {
  margin-top: 90px;
}
@media screen and (max-width: 768px) {
  .faq__img img {
    margin-top: 100px;
  }
}

.contact {
  padding: 100px 0;
}

.contact__inner {
  width: 100%;
  max-width: 650px;
  padding: 0 25px;
  margin-inline: auto;
}
@media screen and (max-width: 768px) {
  .contact__inner {
    padding: 0 15px;
  }
}

.contact__form {
  margin-top: 52px;
}

.form__item:not(:first-child) {
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .form__item:not(:first-child) {
    margin-top: 26px;
  }
}

.form__label-text {
  font-size: 15px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .form__label-text {
    font-size: 14px;
  }
}

.form__input {
  margin-top: 6px;
}
@media screen and (max-width: 768px) {
  .form__input {
    margin-top: 4px;
  }
}

.form__input-text,
.form__textarea {
  font-family: "Noto Sans JP", serif;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  background-color: #f7f7f7;
}
@media screen and (max-width: 768px) {
  .form__input-text,
.form__textarea {
    font-size: 14px;
  }
}

.form__input-text::-moz-placeholder, .form__textarea::-moz-placeholder {
  opacity: 0.5;
  color: #868686;
}

.form__input-text::placeholder,
.form__textarea::placeholder {
  opacity: 0.5;
  color: #868686;
}

.form__textarea {
  height: 171px;
  resize: none;
}

.form__button {
  margin-top: 50px;
  text-align: center;
}

.thanks {
  padding: 200px 0;
}

.thanks__text {
  text-align: center;
}

.thanks__button {
  margin-top: 20px;
  text-align: center;
}

.footer {
  padding: 32px 0;
  background-color: #202f43;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 22px 0;
  }
}

.footer__copyright {
  font-size: 14px;
  color: #fff;
  display: block;
  text-align: center;
}

.inner {
  width: 100%;
  max-width: 1080px;
  padding-left: 25px;
  padding-right: 25px;
  margin-inline: auto;
}
@media screen and (max-width: 768px) {
  .inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section-title__main {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.section-title__sub {
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #f14e53;
}
@media screen and (max-width: 768px) {
  .section-title__sub {
    font-size: 10px;
  }
}

.section-title.section-title--center {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .section-title.section-title--center {
    text-align: left;
  }
}

.text {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.867;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
  .text {
    font-size: 14px;
    line-height: 2.143;
  }
}

.text.text--large {
  font-size: 24px;
  line-height: 1.75;
}
@media screen and (max-width: 768px) {
  .text.text--large {
    font-size: 20px;
    line-height: 1.9;
  }
}

.text.text--reverse {
  color: #fff;
}

.button {
  font-size: 20px;
  width: 235px;
  display: inline-block;
  padding: 15px 15px;
  transition: 0.3s background-color, 0.3s box-shadow;
  background-color: #f14e53;
  color: #fff;
  letter-spacing: 0.05em;
  box-shadow: 2px 2px 4px rgba(134, 134, 134, 0.5);
}
.button:hover {
  opacity: 1;
  background-color: #c85054;
  box-shadow: none;
}

.md-show {
  display: none;
}
@media screen and (max-width: 768px) {
  .md-show {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .md-none {
    display: none;
  }
}
